# MySQL Instance
MYSQL_HOST=mysql-dev
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=pipeline_data
MYSQL_USER=airflow_user
MYSQL_PASSWORD=your_airflow_password

# Airflow Metadata DB
AIRFLOW_METADATA_DB=airflow_metadata

# Airflow Configuration
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=mysql+mysqlconnector://airflow_user:your_airflow_password@mysql-dev:3306/airflow_metadata
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True

# Pipeline Database
PIPELINE_DATABASE=pipeline_data