# MySQL Instance
MYSQL_HOST=mysql-dev
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=dev_root_pass_2025
MYSQL_DATABASE=pipeline_data
MYSQL_USER=airflow_user
MYSQL_PASSWORD=dev_airflow_pass_2025
 
# Airflow Metadata DB
AIRFLOW_METADATA_DB=airflow_metadata

# Airflow Web UI User
AIRFLOW_USERNAME=dev_user
AIRFLOW_PASSWORD=dev_user
AIRFLOW_EMAIL=dev@example.com
 
# Airflow Configuration
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__SQL_ALCHEMY_CONN=mysql+pymysql://airflow_user:dev_airflow_pass_2025@mysql-dev:3306/airflow_metadata
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True
 
# Pipeline Database
PIPELINE_DATABASE=pipeline_data
