mysql-connector-python
aiobotocore
apache-airflow-providers-amazon
apache-airflow-providers-celery
apache-airflow-providers-cncf-kubernetes 
apache-airflow-providers-common-messaging
apache-airflow-providers-docker
apache-airflow-providers-elasticsearch   
apache-airflow-providers-ftp
apache-airflow-providers-git
apache-airflow-providers-google
apache-airflow-providers-grpc
apache-airflow-providers-hashicorp       
apache-airflow-providers-microsoft-azure 
apache-airflow-providers-mysql
apache-airflow-providers-odbc
apache-airflow-providers-openlineage     
apache-airflow-providers-postgres
apache-airflow-providers-redis
apache-airflow-providers-sendgrid
apache-airflow-providers-sftp
apache-airflow-providers-slack
apache-airflow-providers-snowflake
backports.tarfile
email-validator
eventlet
fastapi-cli
gevent
graphviz
h2
httptools
jaraco.collections
litellm
pip-chill
python-ldap
python-multipart
ruamel-yaml-clib
ruamel.yaml
scikit-learn
sqlean-py
statsd
tomli
uv
uvloop
watchfiles
zope-event
zope-interface